/*===== GOOGLE FONTS =====*/


/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  
  /*========== Colors ==========*/
  --title-color: #1b1b1b;
  --text-color: #212121;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F5F5FE;
  --body-color: #FAFAFA;
  --hover-color: #513EEB;
  --active-color: #0010B7;
  --white-color: #fafafa;
  
  /*========== shadows ==========*/
  --shadow-1: 0 10px 20px rgba(216, 213, 252.19), 0 6px 6px rgba(216, 213, 252.23);
  --shadow-2: 0 1px 3px rgba(216, 213, 252.12), 0 1px 2px rgba(216, 213, 252.24);
  --shadow-3: 0 3px 6px rgba(216, 213, 252.16), 0 3px 6px rgba(216, 213, 252.23);

  /*========== Font and typography ==========*/
  font-family: 'Roboto', sans-serif;
  --body-font: 'Roboto', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1rem;
  --h3-font-size: .95rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;
  --main-nav-name-font-size: 1.5rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-top:900;
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.l-main{
  margin-top: 4rem;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: #f5f5f5;
  --text-color: #f5f5f5;
  --text-color-light: #707070;
  --container-color: #212121;
  --container-color-alt: #1b1b1b;
  --body-color: #212121;
  --hover-color: #513EEB;
  --active-color: #0010B7;

  --shadow-1: 0 10px 20px rgba(0, 0, 0.19), 0 6px 6px rgba(0, 0, 0.23);
  --shadow-2: 0 1px 3px rgba(0, 0, 0.12), 0 1px 2px rgba(0, 0, 0.24);
  --shadow-3: 0 3px 6px rgba(0, 0, 0.16), 0 3px 6px rgba(0, 0, 0.23);
}

.light-theme-only {
  display: initial;
}

.dark-theme .light-theme-only {
  display: none;
}

.dark-theme-only {
  display: none;
}

.dark-theme .dark-theme-only {
  display: initial;
}


/*========== Button Dark/Light ==========*/
.change-theme{
  /*position: absolute;
  right: 0;
  top: 2.2rem;*/
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.change-theme:hover{
  color: var(--hover-color);
}

/*========== Font size variables to scale cv ==========*/
body.scale-cv{
  --h1-font-size: .938rem;
  --h2-font-size: .938rem;
  --h3-font-size: .875rem;
  --normal-font-size: .813rem;
  --small-font-size: .75rem;
  --smaller-font-size: .688rem;
}

/*========== Generate PDF button ==========*/
.generate-pdf{
  display: none;
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}

.generate-pdf:hover{
  color: var(--hover-color);
}

/*========== Classes modified to reduce size and print on A4 sheet ==========*/
.scale-cv .change-theme,
.scale-cv .generate-pdf{
  display: none;
}

.scale-cv .bd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin: auto;
  
}

.scale-cv .section{
  padding: 1.5rem 0 .80rem;
}

.scale-cv .section-title{
  margin-bottom: .75rem;
}

.scale-cv .resume{
  box-shadow: var(--shadow-2);
}

.scale-cv .resume-left,
.scale-cv .resume-right{
  padding: 0 1rem;
}

.scale-cv .home__img{
  width: 90px;
  height: 90px;
}

.scale-cv .home__container{
  gap: 1.5rem;
}

.scale-cv .home__data{
  gap: .25rem;
}

.scale-cv .home__address,
.scale-cv .social__container{
  gap: .75rem;
}

.scale-cv .home__icon,
.scale-cv .social__icon,
.scale-cv .interests__icon{
  font-size: 1rem;
}

.scale-cv .education__container,
.scale-cv .experience__container,
.scale-cv .certificate__container{
  gap: 1rem;
}

.scale-cv .education__time,
.scale-cv .experience__time{
  padding-right: .5rem;
}

.scale-cv .education__rounder,
.scale-cv .experience__rounder{
  width: 11px;
  height: 11px;
  margin-top: .22rem;
}

.scale-cv .education__line,
.scale-cv .experience__line{
  width: 1px;
  height: 120%;
  transform: translate(5px, 0);
}

.scale-cv .education__data,
.scale-cv .experience__data{
  gap: .25rem;
}

.scale-cv .skills__name{
  margin-bottom: var(--mb-1);
}

.scale-cv .interests__container{
  column-gap: 2.5rem;
}

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,ul,p{
 margin: 0; 
}

h1,h2,h3{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}
/*========== CLASS CSS ==========*/
.section{
  padding: 1.5rem 0;
}

.section-title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: .35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 1332px;
  width: calc(100% - 3rem);*/
  
  /*margin-left: var(--mb-3);
  margin-right: var(--mb-3);*/
}

@media screen and (max-width: 968px){
  .bd-container{
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
  }
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-top);
  background-color: var(--body-color);
  box-shadow: var(--shadow-1);
  transition: .3s;
}
/*======== MAIN NAV =======*/

/*========== NAV ==========*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px){
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: var(--shadow-2);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: .3s;
  }
}

.nav__logo,
.nav__toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__toggle{
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__item{
  text-align: center;
}

.nav__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column; 
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
}

.nav__link:hover{
  color: var(--hover-color);
}

.nav__icon{
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}
/* Show menu */
.show-menu{
  bottom: var(--header-height);
}

/* Active menu link */
.active-link{
  color: var(--hover-color);
}

/*========== HOME ==========*/
.home{
  position: relative;
}

.home__container{
  gap: 3rem;
}

.home__data{
  gap: .5rem;
  text-align: center;
}

.home__img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}

.home__title{
  font-size: var(--h1-font-size);
}

.home__profession{
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}

.home__address{
  gap: 1rem;
}

.home__information{
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}

.home__icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}

.home__button-movil{
  display: inline-block;
  background-color: var(--hover-color);
  /*border: 2px solid var(--text-color-light);*/
  color: #fafafa;
  padding: 1rem 2rem;
  border-radius: .25rem;
  transition: .3s;
  font-weight: var(--font-medium);
  margin-top: var(--mb-3);
}

.home__button-movil:hover{
  background-color: var(--active-color);
  color: #fafafa;
}
/*========== SOCIAL ==========*/
.social__container{
  grid-template-columns: max-content;
  gap: 1rem;
}

.social__link{
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.social__link:hover{
  color: var(--hover-color);
}

.social__icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}
/*========== PROFILE ==========*/
.profile__description{
  text-align: center;
}

/*========== EDUCATION AND EXPERIENCE ==========*/
.education__content,
.experience__content{
  display: flex;
}

.experience__content{
  margin-bottom: var(--mb-2);
}

.education__time,
.experience__time{
  padding-right: 1rem;
}

.education__rounder,
.experience__rounder{
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: .25rem;
}

.education__line,
.experience__line{
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light);
  transform: translate(7px, 0);
}

.education__data,
.experience__data{
  gap: .5rem;
}

.education__title,
.experience__title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}

.education__studies,
.experience__company{
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.education__year,
.experience__year{
  font-size: var(--smaller-font-size);
}

/*========== SKILLS AND LANGUAGES ==========*/
.skills__content,
.languages__content{
  grid-template-columns: repeat(2, 1fr);
}

.languages__content{
  gap: 0;
}

.skills__name,
.languages__name{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.skills__circle,
.languages__circle{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: .75rem;
}

/*========== CERTIFICATES ==========*/
.certificate__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

/*========== REFERENCES ==========*/
.references__content{
  gap: .25rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.references__subtitle{
  color: var(--text-color-light);
}

.references__subtitle,
.references__contact{
  font-size: var(--smaller-font-size);
}

.references__title,
.certificate__title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}

/*========== INTERESTS ==========*/
.interests__container{
  grid-template-columns: repeat(2, 1fr);
  margin-top: var(--mb-2);
}

.interests__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.interests__icon{
  font-size: 1.5rem;
  color: var(--text-color-light);
  margin-bottom: .25rem;
}

.interests__name{
  font-size: var(--smaller-font-size);
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: var(--container-color-alt);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop__icon{
  font-size: 1.2rem;
  color: var(--text-color);
}

.show-scroll{
  visibility: visible;
  bottom: 5rem;
}

.scrolltop:hover{
  background-color: var(--hover-color);
  color: #F0EFEF;
}
/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */
@media screen and (max-width: 320px){
  .nav__list{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem .5rem;
  }
  
}

/* For medium devices, menu one column */
@media screen and (min-width:768px){
  .interests__container{
    grid-template-columns: repeat(4, max-content);
    column-gap: 3.5rem;
  }

}

/* Classes modified for large screen size */
@media screen and (min-width: 968px){
  body{
    margin: 0;
  }

  .bd-containter{
    margin-top: ;
    margin-left: auto;
    margin-right: auto;
  }

  .l-header,
  .scrolltop{
    display: none;
  }

  .resume{
    display: grid;
    grid-template-columns: .5fr 1fr;
    background-color: var(--container-color);
    height: 100vh;
    
  }

  .resume__left{
    background-color: var(--container-color-alt);
  }

  .resume__left,
  .resume__right{
    padding: 0 1.5rem;
  }

  .generate-pdf{
    display: inline-block;
  }

  .section-title,
  .profile__description{
    text-align: initial;
  }

  .home__container{
    gap: 1.5rem;
  }

  .home__button-movil{
    display: none;
  }

  .references__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .languages__content{
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }

  .interests__container{
    grid-template-columns: repeat(4, max-content);
    column-gap: 3.5rem;
  }

}

/* Main Nav */

@media screen and (min-width: 768px) {
  :root {
    --main-nav-name-font-size: 1rem;
    --normal-font-size: 1rem;
  }
}

.main-nav__block{
  display: flex;
  align-items: center;
  gap:var(--mb-2)
}
.main-header-bd-grid {

  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== main-header =====*/
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 1rem;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-2);
}

.main-header__logo {
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-header__logo-mobile {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.main-header__toggle {
  font-size: 1.7rem;
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .main-nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--container-color);
    box-shadow: var(--shadow-1);
    width: 80%;
    height: 100vh;
    padding: 2rem 0;
    z-index: var(--z-fixed);
    transition: .5s;
    overflow-y: auto;
  }

  
}


.main-nav__content {
  display: flex;
  flex-direction: column;
}

.main-nav__perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.main-nav__img {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

main-nav__img-mobile{
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.main-nav__img img {
  width: 70px;
  
}

.main-nav__name {
  display: block;
  font-size: var(--main-nav-name-font-size);
  color: var(--text-color);
}

.main-nav__item {
  margin-bottom: 2rem;
}

.main-nav__link {
  color: var(--text-color);
}

.main-nav__link:hover {
  color: var(--hover-color-light);
}

/*Show menu*/
.show {
  left: 0;
}

/*Active link*/
.active {
  color: var(--white-color);
}

/*=== Dropdown ===*/
.dropdown__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown__icon {
  font-size: 1.3rem;
  transition: .5s;
}

.dropdown__menu {
  margin: 1rem 0 0 1rem;
  display: none;
}

.dropdown__item {
  margin: 1rem 0;
}

.dropdown:hover > .dropdown__menu {
  display: block;
}

.dropdown:hover .dropdown__icon {
  transform: rotate(180deg);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 576px) {
  .main-nav {
    width: 288px;
  }
}


@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .main-header {
    height: calc(var(--header-height) + 1rem);
  }
.main-header__toggle {
    display: none;
  }
  .main-nav {
    width: 100%;
  }
  .main-nav__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main-nav__perfil {
    flex-direction: row;
    text-align: initial;
    margin-bottom: 0;
  }
  .main-nav__img-mobile {
    width: 38px;
    height: 38px;
    margin-right: .5rem;
    margin-bottom: 0;
  }
  .main-nav__img img {
    width: 38px;
  }
  .main-nav__name {
    color: var(--text-color);
  }
  .main-nav__list {
    display: flex;
    align-items: center;
  }
  .main-nav__item {
    margin: 0 1.5rem;
    padding: 1.4rem 0;
  }
  .main-nav__link {
    color: var(--text-color);
  }
  .main-nav__link:hover {
    color: var(--hover-color);
  }
  /*Active link new color*/
  .active {
    color: var(--hover-color);
  }
  .dropdown {
    position: relative;
  }
  .dropdown__menu {
    position: fixed;
    margin: 0;
    top: calc(var(--header-height) + 1rem);
    padding: .5rem 1.5rem;
    box-shadow: var(--shadow-3);
    border-radius: .5rem;
    background-color: #fff;
  }
  .dropdown__item {
    margin: .5rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .main-header-bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
